# Food Dataset Preprocessing

In [25]:
import pandas as pd

food_df = pd.read_csv("dataset/dataset_nutrisi.csv")
food_df.head()

,Food,Calcium (mg),Protein (g),Carbohydrate (g),Fat (g),Calorie (kcal)
0,Kacang Almond,264,2.0,14.0,21.0,579
1,Kacang,92,3.9,14.0,3.4,567
2,Kacang Tanah,76,1.8,14.0,49.0,567
3,Kembang Kol,28,0.5,56.0,0.0,25
4,Keju Cottage,32,26.0,31.0,1.3,452

## Duplicate Values

In [8]:
food_df.Food.duplicated().value_counts()

Food
False    130
True      15
Name: count, dtype: int64

In [10]:
food_df.loc[food_df.Food.duplicated()]

,Food,Calcium (mg),Protein (g),Carbohydrate (g),Fat (g),Calorie (kcal)
19,Alpukat,14,2.0,8.5,15.4,160
24,Durian,7,2.5,27.1,5.3,147
32,Nangka,24,1.7,23.2,0.6,95
39,Rambutan,22,0.9,20.9,0.2,82
47,Matoa,10,1.0,17.0,0.2,70
50,Jambu Biji,18,2.6,14.3,0.5,68
51,Anggur,5,0.6,16.0,0.2,67
54,Sirsak,14,1.0,16.8,0.3,66
63,Kiwi,38,1.3,4.0,0.2,58
64,Blueberry,9,0.7,14.5,0.3,57
113,Belimbing,18,1.4,4.0,0.2,31
114,Belimbing,4,1.0,6.7,0.3,31
125,Bayam,99,2.9,3.6,0.4,23
129,Pepaya,6,0.8,2.2,0.0,22
140,Melon,14,0.6,3.4,0.2,16

In [22]:
food_df.drop_duplicates(subset='Food', inplace=True)
food_df.Food.duplicated().value_counts()

Food
False    130
Name: count, dtype: int64

# Null Values

In [23]:
food_df.isnull().any()

Food                False
Calcium (mg)        False
Protein (g)         False
Carbohydrate (g)    False
Fat (g)             False
Calorie (kcal)      False
dtype: bool

# Preprocess Calories In the Food

In [32]:
import matplotlib.pyplot as plt

food_df.sort_values('Calorie (kcal)', ascending=False)

,Food,Calcium (mg),Protein (g),Carbohydrate (g),Fat (g),Calorie (kcal)
0,Kacang Almond,264,2.0,14.0,21.0,579
2,Kacang Tanah,76,1.8,14.0,49.0,567
1,Kacang,92,3.9,14.0,3.4,567
4,Keju Cottage,32,26.0,31.0,1.3,452
5,Kacang Kedelai,277,36.5,30.2,19.9,446
...,...,...,...,...,...,...
140,Melon,14,0.6,3.4,0.2,16
141,Mentimun,15,8.1,3.6,0.1,15
142,Aprikot,13,0.5,3.9,0.4,15
143,Pak Choi,105,1.5,2.2,0.2,13
144,Selada Air,120,2.3,1.3,0.1,11

The data doesn't provide any clear description about the measure of the food. New coluumn `Measure` and `dose` should be added. This can be added through scraping or manually added into csv. And preview image is needed to provide more information about the food.

In [33]:
from bs4 import beautifulSoup

ImportError: cannot import name 'beautifulSoup' from 'bs4' (/home/bayezid/capstone/env/lib/python3.12/site-packages/bs4/__init__.py)